////////////////////////////////////////////////////////////////////////
// Pre-sets must be done BEFORE a module is imported. Some of these settings are at the top, while others
// are right before the import statement.
////////////////////////////////////////////////////////////////////////

// Spring's palette (found on spring.io)
$spring-green: #6db33f;
$spring-black: #34302d;
$spring-antique-white: #F1F1F1;
$spring-bright-white: #f9f9f9;
$spring-white: #eee;

$inuit-base-font-size:  14px;
$inuit-base-line-height:  18px;
$inuit-base-background-color: $spring-antique-white;

////////////////////////////////////////////////////////////////////////
// Here are the layers of inuit. Each layer needs to have its order preserved, but modules within the same layer
// can be imported in any order.
////////////////////////////////////////////////////////////////////////

// Settings layer
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";

// Tools layer
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";

// Generic layer
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";

@import "bower_components/inuit-page/base.page";

// Objects layer
@import "bower_components/inuit-layout/objects.layout";

$inuit-enable-table--rows: true;
$inuit-enable-table--cosy: true;
@import "bower_components/inuit-tables/objects.tables";

$inuit-enable-btn--small: true;
$inuit-btn-background: $spring-black;
$inuit-btn-color: $spring-white;
@import "bower_components/inuit-buttons/objects.buttons";

// Trumps layer
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-widths-responsive/trumps.widths-responsive";

////////////////////////////////////////////////////////////////////////
// Custom CSS additions and overrides
//
// This isn't to override settings from inuit, but instead, to override or add to CSS generated
// by inuit.
////////////////////////////////////////////////////////////////////////

// Plugin the Ubuntu font
html {
  font-family: 'Ubuntu', sans-serif;
}

// Dress up the top row of a "page"
// Add a small amount of padding at the bottom of a "page"
$inuit-base-spacing-unit--tiny: round($inuit-base-spacing-unit / 8);
.page {
  border-top: $spring-green solid 4px;
  color: $spring-white;
  background-color: $spring-black;
  width: 100%;
  margin-top: 0em;
  padding-bottom: $inuit-base-spacing-unit--tiny;
}

// Wrap a given block with insets so it isn't pushed to the edge of the browser
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

// Fine tune the bar at the top, so it shrinks on portable devices
h1 {
  @include media-query(portable) {
    margin: 0.1em 0;
  }
}

// TODO: Write explanatory comment (can't remember why I made this right now)
.border {
  border: 1px solid;
}

// Based off http://csswizardry.com, create some classes to style the buttons at the top of the screen.
.site-nav__list {
  float: right;
  list-style: none;
  top: 0;
}

.site-nav__item {
  float: left;
}

// Add striping to odd rows of a table (not header)
tbody tr:nth-child(odd) {
  background-color: $spring-bright-white;
}

th {
  text-align: left;
}
