<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Issue Aggregator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <tr>
                <th>Repository</th>
                <th>Issue</th>
                <th>User</th>
                <th>Description</th>
            </tr>
            <tr th:each="issue : ${issues}">
                <td th:text="${issue['repo']}"></td>
                <td><a th:href="${issue['issue'].url}">Issue <span th:text="${issue['issue'].number}"></span></a></td>
                <td th:text="${issue['issue'].assignee?.login?:'Unassigned'}"></td>
                <td th:text="${issue['issue'].title}"></td>
            </tr>
        </table>
    </body>
</html>