<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
    <title>Issue Aggregator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
</head>
<body>

    <header class="page wrapper">

        <nav class="layout">
            <div class="layout__item palm-1/1 lap-and-up-1/2">
                <h1>Issue Aggregator</h1>
            </div><!--
            --><div class="layout__item palm-1/1 lap-and-up-1/2">
                <ul class="site-nav__list">
                    <li class="site-nav__item">
                        <a class="btn btn--small" th:href="'https://github.com/' + ${org} + '/getting-started-guides/wiki'">Contributions</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="btn btn--small" th:href="'https://github.com/' + ${org}">GitHub</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="btn btn--small" th:href="${site} + '/guides'">Guides</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="btn btn--small" th:href="${droneSite}">Status</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <section class="wrapper">
        <table class="table table--cosy table--rows">
            <thead>
            <tr>
                <th>Repository</th>
                <th>Issue</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="issue : ${issues}">
                <td th:text="${issue['repo']}"></td>
                <td><a th:href="${issue['issue'].htmlUrl}" target="_blank"><span th:text="${issue['issue'].number}"></span></a></td>
                <td th:text="${issue['issue'].title}"></td>
            </tr>
            </tbody>
        </table>
    </section>

</body>
</html>